.navbar{
    background-color: rgb(8, 192, 39);
    justify-content: space-between;
    min-height: 70px;
    display: flex;
    align-items: center;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

        li{
            list-style: none;
            }
            
            a{
            color:#fff;
            text-decoration: none;
            }
            
            .logo{
            font-size: 2rem;
            font-weight: bold;
            }
            .nav-menu{
            display: flex;
            align-items: center;
            gap: 60px;
            }
            .nav-link:hover{
                color: rgb(19, 239, 19);}